<template>
  <v-container
    class="my-login"
    fluid="fluid"
    fill-height="fill-height">
    <v-toolbar
      color="primary"
      flat="flat"
      dark="dark"
      fixed="fixed"
      app="app"
      dense="dense">
      <v-spacer/>
      <v-btn flat="flat">How does it work?</v-btn>
      <v-btn flat="flat">FAQ</v-btn>
    </v-toolbar>
    <v-layout
      justify-center="justify-center"
      align-center="align-center">
      <v-flex
        class="text-xs-center"
        xs12="xs12"
        lg6="lg6">
        <v-layout
          row="row"
          wrap="wrap">
          <v-flex xs12="xs12">
            <v-card class="my-login__card">
              <v-card-title
                class="my-login__card-title"
                primary-title="primary-title">
                <v-avatar :size="100"><img
                  src="~/@/assets/images/user.png"
                  alt="Avatar" ></v-avatar>
              </v-card-title>
              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="credentials.username"
                    label="E-mail"
                    required="required"/>
                  <v-text-field
                    v-model="credentials.password"
                    :append-icon="passwordHidden ? 'visibility' : 'visibility_off'"
                    :type="passwordHidden ? 'password' : 'text'"
                    label="Password"
                    hint="At least 8 characters"
                    min="8"
                    counter=""
                    @click:append="(passwordHidden = !passwordHidden)"/>
                </v-form>
              </v-card-text>
              <v-card-actions class="my-login__card-actions">
                <v-btn
                  :loading="loading"
                  block="block"
                  color="accent"
                  dark="dark"
                  @click="login()">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import auth from '@/auth/helpers';

export default {
  name: 'LoginPage',

  data() {
    return {
      passwordHidden: true,
      credentials: {
        username: 'user@user.com',
        password: 'password',
      },
      error: '',
      loading: false,
    };
  },

  methods: {
    login() {
      this.loading = true;

      const credentials = {
        username: this.credentials.username,
        password: this.credentials.password,
      };

      // auth.login(credentials, 'bids', ({isSuccess, data, errorMessage}) => {
      auth.login(credentials, 'bids')
        .then((data) => {
          this.loading = false;
        });
    },
  },
};
</script>

<style lang="stylus" scoped>
  .my-login
    background-color: $app-primary

    &__logo
      max-width: 46px
      padding-left: 12px
      padding-top: 4px

    &__logo-name

      img
        max-width: 200px
        width: 100%

    &__subheading
      color: white
      padding-top: 10px
      padding-bottom: 20px

    &__card
      max-width: 370px
      margin: 0 auto

    &__card-title
      justify-content: center

    &__card-actions
      justify-content: center

</style>
