<template>
  <v-container
    :grid-list-sm="$vuetify.breakpoint.smAndDown"
    :grid-list-lg="$vuetify.breakpoint.mdAndUp"
    class="my-dashboard"
    fluid="fluid"
    fill-height="fill-height"
    text-xs-center="text-xs-center">
    <v-layout
      row="row"
      wrap="wrap">
      <!-- Top Row-->
      <!-- Bottom Row-->
      <v-flex
        d-flex="d-flex"
        xs12="xs12"
        sm12="sm12"
        md6="md6">
        <v-card>
          <v-date-picker
            v-model="date"
            :event-color="date =&gt; date[9] % 2 ? 'red' : 'yellow'"
            :events="functionEvents"
            min="2016-06-15"
            max="2018-03-20"
            full-width="full-width"/>
        </v-card>
      </v-flex>
      <v-flex
        d-flex="d-flex"
        xs12="xs12"
        sm12="sm12"
        md6="md6">
        <v-card>
          <v-img
            src="static/images/mountains.png"
            height="200px">
            <v-layout
              class="my-dashboard__media"
              column="column">
              <v-card-title class="white--text pl-5 pt-5">
                <div class="display-1 pl-5 pt-5">Main Contacts</div>
              </v-card-title>
            </v-layout>
          </v-img>
          <v-list two-line="two-line">
            <v-list-tile @click="">
              <v-list-tile-action>
                <v-icon>phone</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>(650) 555-1234</v-list-tile-title>
                <v-list-tile-sub-title>Mobile</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import store from './store'; // eslint-disable-line no-unused-vars

export default {
  name: 'Bids',
  data() {
    return {
      test: this.$store.state.bids.test,
      date: '2018-05-21',
    };
  },

  mounted() {
  },

  methods: {
    updateTest() {
      this.test++;
      this.$store.dispatch('dashboard/updateTest', this.test);
    },
    functionEvents(date) {
      const [,, day] = date.split('-');
      return parseInt(day, 10) % 3 === 0;
    },
  },
};
</script>

<style lang="stylus">

</style>
