<template>
  <v-toolbar
    :color="$vuetify.breakpoint.smAndDown ? 'primary' : 'default'"
    :dark="$vuetify.breakpoint.smAndDown"
    height="60px"
    class="my-appbar"
    flat="flat"
    fixed="fixed"
    app="app"
    dense="dense">
    <v-btn
      icon="icon"
      @click.stop="$router.back()">
      <v-icon>arrow_back</v-icon>
    </v-btn>
    <v-toolbar-side-icon
      v-show="!backButton"
      @click.stop="toggleSidebar()"/>
    <v-toolbar-title
      v-if="!$slots.title"
      class="my_appbar__default-title">{{ $store.state.common.title }}</v-toolbar-title>
    <v-spacer/>
    <p class="text-xs-right subheading my-appbar__username mx-2">
      {{ $store.state.auth.user.name }}</p>
    <v-avatar><img
      src="~/@/assets/images/user.png"
      alt="Avatar"></v-avatar>
    <v-menu
      offset-y
      left
      attach>
      <v-btn
        slot="activator"
        class="my-menu"
        icon="icon">
        <v-icon>more_vert</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile
          v-for="(item, index) in [{title: 'Account', route:'account'}]"
          :key="index"
          :to="{ name: item.route }"
          ripple
        >
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          ripple
          @click="logout()">
          <v-list-tile-content>
            <v-list-tile-title>Log out</v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>

<script>

import auth from '@/auth/helpers';

export default {
  name: 'AppBar',

  props: {
    backButton: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    logout() {
      auth.logout();
    },
    toggleSidebar() {
      this.$store.dispatch('common/updateSidebar', { visible: !this.$store.state.common.sidebar.visible });
    },
  },
};
</script>

<style lang="stylus">
#app
  .my-appbar

    .toolbar__title
      margin-left: 0

    &__username
      margin 0

      .btn
        margin: 0

      .btn--flat
        // @TODO: Scoped styles on named slots not working?
        min-width: 40px
</style>
