<template>
  <v-navigation-drawer
    v-model="isActive"
    :mobile-break-point="1904"
    class="my-sidebar"
    fixed="fixed"
    app="app"
    touchless="touchless">
    <v-list>
      <v-list-tile
        :to="{ name: 'bids' }"
        ripple="ripple">
        <v-list-tile-content>
          <v-list-tile-title>Bids</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'AppSidebar',

  computed: {
    isActive: {
      get() {
        return this.$store.state.common.sidebar.visible;
      },
      set(val) {
        this.$store.dispatch('common/updateSidebar', { visible: val });
      },
    },
  },
};
</script>

<style lang="stylus">
</style>
