<template>
  <v-footer
    :class="{ 'my-appfooter--sidebar-open': sidebarVisibility }"
    class="my-appfooter">
    <div class="grey--text">© 2018 LW</div>
  </v-footer>
</template>

<script>
export default {
  name: 'AppFooter',

  computed: {
    sidebarVisibility() {
      return this.$store.state.common.sidebar.visible && this.$vuetify.breakpoint.mdAndUp;
    },
  },
};
</script>

<style lang="stylus">
.my-appfooter
  justify-content: center

  &--sidebar-open
    padding-left: 300px

</style>
